html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar {
    background-color: #5c9da8 !important;
    
}
.navbar-nav {
    justify-content: center !important;
    gap: 30px !important;
}
.nav-link {
    font-size: 16px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #eee6e6 !important;
    font-family: FreeMono, monospace;
}
.navbar-brand {
    margin-top: -15px;
    margin-left: 0px;
    margin-right: 15px;
}
.navbar-brand img {
    width: 75px;
    height: 75px;
}
.btn-primary{
    margin: 5px;
    background: none !important;
    color: #5c9da8;
    border: 2px #5c9da8 solid !important;
    border-radius: 4px !important;
    padding: 0.150rem 0.250rem !important;
    text-decoration: none;
    height: 32px;
    display: inline-block;
}

.btn-primary:hover{
    background-color: #5c9da8 !important;
    color: white !important;
}
.btn-secundary{
    margin: 5px;
    background: none !important;
    color: #5c9da8 !important;
    border: 2px #5c9da8 solid !important;
    border-radius: 4px !important;
    padding: 0.150rem 0.250rem !important;
    height:32px;
    display:inline-block;
}
.btn-secundary:hover{
    background-color: #dc3545 !important;
    color: white !important;
    border: 2px #dc3545 solid !important;
}
.btn-danger{
    margin:5px;
    background: none !important;
    color: #dc3545 !important;
    border: 2px #dc3545 solid !important;
    border-radius: 4px !important;
    padding: 0.150rem 0.250rem !important;
}
.btn-danger:hover{
    background-color: #dc3545 !important;
    color: white !important;
}
.form-control {
    background-color: #E5DFDD !important;
    border: 2px #AAB4BF solid !important;
}

