@model HealthSolutions_MVC.Models.Consulta

@{
    ViewData["Title"] = "Consulta";
}

<h1>Editar</h1>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConsultaId" />
            <div class="form-group">
                <label asp-for="NomeConsulta" class="control-label"></label>
                <input asp-for="NomeConsulta" class="form-control" />
                <span asp-validation-for="NomeConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObsConsulta" class="control-label"></label>
                <input asp-for="ObsConsulta" class="form-control" />
                <span asp-validation-for="ObsConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfissionalId" class="control-label"></label>
                <select asp-for="ProfissionalId" class="form-control" asp-items="ViewBag.ProfissionalId"></select>
                <span asp-validation-for="ProfissionalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConsulta" class="control-label"></label>
                <input asp-for="DataConsulta" class="form-control" />
                <span asp-validation-for="DataConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
